<div class="modal fade modal-bottom" id="{{ modal_id }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered mt-auto">
        <form class="modal-content" method="post" action="{{ action_url }}">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'Добавление нового человека' if modal_id == 'add' else 'Изменение данных' }}</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="naim">Имя</label>
                        <input class="form-control" type="text" name="naim" id="naim"
                               value="{{ person.naim if person.naim else '' }}" required>
                    </div>
                    <div class="col-6">
                        <label for="naim">Роль</label>
                        <select class="form-select" name="role" id="role" required>
                        {% for role in roles %}
                        <option value="{{ role.naim }}"
                                {% if (person and person.role == role.naim) or (person is none and role.naim == 'user') %} selected {% endif %}>
                            {{ role.naim }}
                        </option>
                        {% endfor %}
                        </select>
                    </div> 
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="dr">День рождения</label>
                        <input class="form-control" type="date" name="dr" id="dr"
                               value="{{ person.dr if person.dr else '' }}">
                    </div>
                    <div class="col-6">
                        <label for="tg_id">Telegram ID</label>
                        <input class="form-control" type="number" name="tg_id" id="tg_id"
                               value="{{ person.tg_id if person.tg_id else '' }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><div class="form-check">
                        <label for="could_pay">Может платить</label>
                        <input class="form-check-input" type="checkbox" name="could_pay" id="could_pay"
                               {% if person is none or person.could_pay %} checked {% endif %}>
                    </div></div>
                    <div class="col-6"><div class="form-check">
                        <label for="in_theater">Состоит в театре</label>
                        <input class="form-check-input" type="checkbox" name="in_theater" id="in_theater"
                               {% if person is none or person.in_theater %} checked {% endif %}>
                    </div></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </div>
        </form>
    </div>
</div>