{% extends "base.html" %}
{% block title %}Профиль {{ person.naim | naim_rp }}{% endblock %}
{% block content %}
<div class="d-md-flex justify-content-between">
    <div class="col-md-6 text-bg-light mb-2 p-3 border rounded-3 align-self-start">
        <div class="row">
            <div class="col-6">
                <h1 class="m-0">{{ person.naim }}</h1>
                <h5 class="fw-normal{% if not person.t_dr %} text-danger{% endif %}">{{ person.t_dr if person.t_dr else 'День рождения не указан' }}</h5>
                <p class="m-0{% if not person.could_pay %} text-danger{% endif %}">{{ '✔️ М' if person.could_pay else '❌ Не м' }}ожет платить</p>
                <p class="m-0{% if not person.in_theater %} text-danger{% endif %}">{{ '✔️ С' if person.in_theater else '❌ Не с'}}остоит в театре</p>
            </div>
            <div class="col-6 text-end d-flex flex-column">
                <h1 class="m-0">{{ person.balance }}<i class="nbrb-icon">BYN</i></h1>
                <h5 class="fw-normal{% if not person.tg_id %} text-danger{% endif %}">{{ person.tg_id if person.tg_id else 'TG ID не указан' }}</h5>
                {% if user_role == 'admin' %}
                    <div class="mt-auto">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_money">
                            <i class="nbrb-icon fs-5">BYN</i> 
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
                            <i class="bi bi-trash-fill"></i>
                        </button>                            
                    </div>
                    <div class="text-start">
                        <div class="modal fade modal-bottom" id="add_money" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered mt-auto">
                                <form class="modal-content" method="post" action="{{ url_for('sp_ol.update_pay', ku=person.ku) }}">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Пополнение баланса</h5>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="nbrb-icon fs-4">BYN</i></span>
                                            <input class="form-control" type="number" name="sum" id="sum" 
                                            step="0.01" placeholder="7.00" required>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label" for="auto_debt">Автоматически закрывать долги</label>
                                            <input class="form-check-input" type="checkbox" name="auto_debt" id="auto_debt" checked>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        {% set naim = person.naim %}
                        {% set modal_id = 'edit' %}
                        {% set action_url = url_for('sp_ol.edit', ku=person.ku) %}
                        {% set modal_title = 'Изменение данных ' + naim | naim_rp %}
                        {% include 'sp/ol/add_edit_ol.html' %}

                        {% set action_url = url_for('sp_ol.delete', ku=person.ku) %}
                        {% set modal_title = 'Точно удалить профиль ' + naim | naim_rp + '?' %}
                        {% include 'sp/delete.html' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        {% set thead %}
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">День рождения</th>
                <th scope="col">Оплачено</th>
            </tr>
        {% endset %}
        {% set tbody %}
            {% for pay in pays %}
                {% if pay.pay == 0 %}
                    {% set clr = 'table-danger' %}
                {% elif pay.pay != pay.price %}
                    {% set clr = 'table-warning' %}
                {% endif %}
                <tr {% if clr %} class={{clr}} {% endif %}
                    {% if user_role in ('admin', 'admin_viewer') %}
                        {% set url = url_for('sp_dr.dr', ku=pay.ku_dr) %}
                        onclick="window.location.href='{{url}}'"
                    {% endif %}>
                    <td>{{ pay.t_t }}<br>{{ pay.t_d }}</td>
                    <td>{{ pay.dr_naim | naim_rp }}<br>{{ pay.cy_dr }}</td>
                    <td>{{ pay.pay }} / {{ pay.price }}</td>
                </tr>
            {% endfor%}
            <tr>
                <th class="text-end" colspan="2">Общий долг</th>
                <td>{{ person.debt }}<i class="nbrb-icon">BYN</i></td>
            </tr>
        {% endset %}
        {% include 'unit/table.html' %}
    </div>
</div>
{% endblock %}