{% extends "base.html" %}
{% block title %}Долги{% endblock %}
{% block content %}
{% if user_role == 'admin' %}
    <button type="button" class="mb-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#a_pay">
        <i class="bi bi-coin"></i> Добавить долг
    </button>
    {% set action_url = url_for('sp_pay.add') %}
    {% set modal_title = 'Добавление долга' %}
    {% set dr = None %}
    {% include 'sp/pay/add.html' %}
{% endif %}
<div class="d-md-flex gap-4">
    {% if pays %}
        <div class="table-responsive">
            {% set thead %}
                <tr class="table-danger text-center">
                    <th colspan="4">Актуальные</th>
                </tr>
                <tr class="table-danger">
                    <th>Дата</th>
                    <th>Человек</th>
                    <th>Именинник</th>
                    <th>Оплачено</th>
                </tr>
            {% endset %}
            {% set tbody %}
                {% for pay in pays %}
                    {% if pay.pay == 0 %}
                        {% set clr = 'table-danger' %}
                        {% elif pay.pay != pay.price %}
                        {% set clr = 'table-warning' %}
                    {% endif %}
                    <tr {% if clr %} class={{clr}} {% endif %}>
                        <td>{{ pay.t_t }} {{ pay.t_d }}</td>
                        <td {% set url = url_for('sp_ol.ol', ku=pay.ku_ol) %}
                            style="cursor: pointer;"
                            onclick="window.location.href='{{url}}'">
                            {{ pay.ol_naim }}
                        </td>
                        <td {% set url = url_for('sp_dr.dr', ku=pay.ku_dr) %}
                            style="cursor: pointer;"
                            onclick="window.location.href='{{url}}'">
                            {{ pay.dr_naim }} {{ pay.cy_dr }}
                        </td>
                        <td>
                            {{ pay.pay }} / {{ pay.price }}
                            {% if user_role == 'admin' %}
                                {% set pay_naim = pay.ol_naim | naim_rp + ' за день рождения ' + pay.dr_naim | naim_rp + ' на ' + pay.cy_dr %}
                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#e_pay"
                                    data-ku="{{ pay.ku }}"
                                    data-naim="{{ pay_naim }}"
                                    data-pay="{{ pay.pay }}"
                                    data-price="{{ pay.price }}">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#d_pay"
                                    data-ku="{{ pay.ku }}"
                                    data-naim="{{ pay_naim }}">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endset %}
            {% include 'unit/table.html' %}
        </div>
    {% endif %}
    {% if pays_done %}
        <div class="table-responsive">
            {% set thead %}
                <tr class="table-success text-center">
                    <th colspan="4">Закрытые</th>
                </tr>
                <tr class="table-success">
                    <th>Дата</th>
                    <th>Человек</th>
                    <th>Именинник</th>
                    <th>Оплачено</th>
                </tr>
            {% endset %}
            {% set tbody %}
                {% for pay in pays_done %}
                    <tr class="table-success">
                        <td>{{ pay.t_t }} {{ pay.t_d }}</td>
                        <td {% set url = url_for('sp_ol.ol', ku=pay.ku_ol) %}
                            style="cursor: pointer;"
                            onclick="window.location.href='{{url}}'">
                            {{ pay.ol_naim }}
                        </td>
                        <td {% set url = url_for('sp_dr.dr', ku=pay.ku_dr) %}
                            style="cursor: pointer;"
                            onclick="window.location.href='{{url}}'">
                            {{ pay.dr_naim }} {{ pay.cy_dr }}
                        </td>
                        <td>
                            {{ pay.pay }} / {{ pay.price }}
                            {% if user_role == 'admin' %}
                                {% set pay_naim = pay.ol_naim | naim_rp + ' за день рождения ' + pay.dr_naim | naim_rp + ' на ' + pay.cy_dr %}
                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#e_pay"
                                    data-ku="{{ pay.ku }}"
                                    data-naim="{{ pay_naim }}"
                                    data-pay="{{ pay.pay }}"
                                    data-price="{{ pay.price }}">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#d_pay"
                                    data-ku="{{ pay.ku }}"
                                    data-naim="{{ pay_naim }}">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endset %}
            {% include 'unit/table.html' %}
        </div>
    {% endif %}
    {% if user_role == 'admin' %}
        {% include 'sp/pay/edit.html' %}
        {% include 'sp/pay/delete.html' %}
    {% endif %}
</div>
{% endblock %}