<div class="modal fade modal-bottom" id="delete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered mt-auto">
        <form class="modal-content" method="post" action="{{ action_url }}">
            <div class="modal-header">
                <h5 class="modal-title">{{ modal_title }}</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="submit" class="btn btn-primary">Да</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
            </div>
        </form>
    </div>
</div>