<div class="modal fade modal-bottom" id="{{ modal_id }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered mt-auto">
        <form class="modal-content" method="post" action="{{ action_url }}">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'Добавление нового дня рождения' if modal_id == 'a_dr' else 'Изменение данных' }}</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label for="ae_dr_ol">Именинник</label>
                <select class="form-select mb-3" name="ae_dr_ol" id="ae_dr_ol" required>
                    {% for person in people_ol %}
                    <option value="{{ person.ku }}|{{ person.naim | naim_rp }}" {% if dr.ku_ol == person.ku %} selected {% endif %}>
                        {{ person.naim }}
                    </option>
                    {% endfor %}
                </select>
                <div class="row mb-2">
                    <div class="col-6">
                        <label for="ae_dr_event_year">Год</label>
                        <input class="form-control" type="number" name="ae_dr_event_year" id="ae_dr_event_year"
                            value="{{ dr.event_year if dr.event_year else '' }}" required>
                    </div>
                    <div class="col-6">
                        <label for="ae_dr_price">Прайс</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="nbrb-icon fs-4">BYN</i></span>
                            <input class="form-control" type="number" name="ae_dr_price" id="ae_dr_price" 
                            step="0.01" min="0.01" placeholder="7.00" value="{{ dr.price if dr.price else '7.00' }}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </div>
        </form>
    </div>
</div>