{% extends "base.html" %}
{% block title %}День рождения {{dr.naim | naim_rp}}{% endblock %}
{% block content %}
<div class="d-md-flex justify-content-between">
    <div class="col-md-6 text-bg-light mb-2 p-3 border rounded-3 align-self-start">
        <div class="d-flex justify-content-between">
            <h3 class="m-0">ДР {{ dr.naim | naim_rp }}</h3>
            <h3 class="m-0">{{ dr.summa - dr.debt }} / {{ dr.summa }}<i class="nbrb-icon">BYN</i></h3>
        </div>
        <div class="d-flex justify-content-between">
            <h5 class="fw-normal m-0">{{ dr.cy_dr }}</h5>
            <h5 class="fw-normal">по {{ dr.price }}<i class="nbrb-icon">BYN</i></h5>
        </div>
        <div class="text-end">
            {% if user_role == 'admin' %}
                <div class="mt-auto">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#e_dr">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                    <div class="text-start">
                        {% set modal_id = 'e_dr' %}
                        {% set action_url = url_for('sp_dr.edit', ku=dr.ku) %}
                        {% include 'sp/dr/add_edit.html' %}
                        
                        {% set action_url = url_for('sp_dr.delete', ku=dr.ku) %}
                        {% include 'sp/delete.html' %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if pays %}
        <div class="table-responsive">
            {% set thead %}
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Человек</th>
                    <th scope="col">Оплачено</th>
                </tr>
            {% endset %}
            {% set tbody %}
                {% for pay in pays %}
                    {% if pay.pay == 0 %}
                        {% set clr = 'table-danger' %}
                    {% elif pay.pay != pay.price %}
                        {% set clr = 'table-warning' %}
                    {% endif %}
                    <tr {% if clr %} class={{clr}} {% endif %}>
                        <td>{{ pay.t_t }}<br>{{ pay.t_d }}</td>
                        <td {% if (user_ku == pay.ku_ol) or (user_role in ('admin', 'admin_viewer')) %}
                                style="cursor: pointer;"
                                {% set url = url_for('sp_ol.ol', ku=pay.ku_ol) %}
                                onclick="window.location.href='{{url}}'"
                            {% endif %}>
                            {{ pay.ol_naim }}
                        </td>
                        <td>
                            {{ pay.pay }} / {{ pay.price }}
                            {% if user_role == 'admin' %}
                                {% set pay_naim = pay.ol_naim | naim_rp %}
                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#e_pay"
                                    data-ku="{{ pay.ku }}"
                                    data-naim="{{ pay_naim }}"
                                    data-pay="{{ pay.pay }}"
                                    data-price="{{ pay.price }}">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#d_pay"
                                    data-ku="{{ pay.ku }}"
                                    data-naim="{{ pay_naim }}">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor%}
            {% endset %}
            {% include 'unit/table.html' %}
        </div>
        {% if user_role == 'admin' %}
            {% include 'sp/pay/edit.html' %}
            {% include 'sp/pay/delete.html' %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}